:root{
  color-scheme: light dark; /* enables both light and dark mode */

  /* standardized theme colours*/
  --dark-bg:#121212;     --dark-main: #1f1f1f;        --dark-txt:#e9e9e9;
  --light-bg:#e9e9e9;    --light-main:#dddddd;        --light-txt:#121212;

  --transparent:#00000000;

  /* standardized colours*/
  --white       :#ffffff;       --white-hover:#cccccc;       --white-active:#999999;
  --pink        :#ff87fb;        --pink-hover:#cc6cc9;        --pink-active:#995197;
  --magenta     :#ff00ff;     --magenta-hover:#cc00cc;     --magenta-active:#990099;
  --red         :#e33b3b;         --red-hover:#b62f3d;         --red-active:#88232e;
  --orange      :#ffa940;      --orange-hover:#cc8733;      --orange-active:#996526;
  --yellow      :#ffd969;      --yellow-hover:#ccae54;      --yellow-active:#99823f;
  --lime        :#67ff5c;        --lime-hover:#52cc4a;        --lime-active:#3e9937;
  --green       :#0cb300;       --green-hover:#0a8f00;       --green-active:#076b00;
  --light-blue  :#5bcffa;  --light-blue-hover:#49a6c8;  --light-blue-active:#377c96;
  --blue        :#3b5ae3;        --blue-hover:#2f48b6;        --blue-active:#233688;
  --purple      :#7b3be3;      --purple-hover:#622fb6;      --purple-active:#4a2388;
  --grey        :#888888;        --grey-hover:#6d6d6d;        --grey-active:#525252;
  --dark-grey   :#4d4d4d;   --dark-grey-hover:#3e3e3e;   --dark-grey-active:#2e2e2e;
  --black       :#141414;

  ::selection{
    background-color: var(--light-blue);
    color: var(--black);
  }

  :any-link{color: var(--light-blue);}
  ::marker{color:  var(--light-blue);}
}

.code{

}
#comment{color: var(--grey);}
#datatype{color: var(--grey);}
#operator{color: var(--grey);}
#function{color: var(--grey);}

body{
  background-color: light-dark(var(--light-main), var(--dark-main));
  color: light-dark(var(--light-txt), var(--dark-txt));
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}

.navigation{
  width: 100px;
  height: 100%;
  position: fixed;
  border-radius: 0px 25px 25px 0px;
  overflow-y: scroll;
  overflow-x: hidden;
  
  ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  ul:hover{
    scale: 1.2;
    transition:ease 250ms ;
  }
  
  ul:first-child{
    margin-top: 10px;
    margin-bottom: 50px;
  }
  
  img{
    display: block;
    margin: auto;
    height: 50px;
    width:  50px;
    padding-top: 10px;
  }
  
}

.main{
  background-color: light-dark(var(--light-bg), var(--dark-bg));
  height: 100vh;
  margin-left: 100px;
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
  border-radius: 25px 0px 0px 25px;
  overflow-y: auto;
  
  p, h1, h2, h3, h4{
    margin-left: 25px;
  }
}

.flex-box-container{
  display: flex;
  justify-content: flex-start;
  
  > div{
    background-color: light-dark(var(--light-main), var(--dark-main));
    min-height: 30vh;
    height: auto;
    flex: 15%;
    margin: 0px 15px 0px 20px;
    border-radius: 25px;
  }
  
  h1{ margin-left: 20px; }
}

.small-flex-box{
  background-color: light-dark(var(--light-main), var(--dark-main));
  min-height: 30vh;
  width: 10vw;
  padding: 10px;
  height: auto;
  margin: 10px 15px 0px 20px;
  border-radius: 25px;

}

textarea{
  background-color: var(--dark-main);
  margin-left: 15%;
  margin-right: 30px;
  height: 500px;
  width: 500px;
  padding: 10px;
  border-radius: 25px;
  border: none;
  resize: none;
}

.flex-bar-container{
  display: flex;
  flex-direction: column;
  
  > div{
    background-color: light-dark(var(--light-main), var(--dark-main));
    height: auto;
    padding: 15px;
    margin: 50px;
    border-radius: 25px;
  }

  img{
    align-items: flex-start;
    height: 100px;
    width: 100px;
    padding: 10px;
  }
}

.flex-bar-container > div:hover{
  box-shadow: 0 0 10px var(--light-blue);
}

table, th, td {
  border: 1px solid rgb(255, 255, 255);
  border-collapse: collapse;
  padding: 5px;
  text-align: center;
  margin: auto;
}