body{
    background-color: rgb(22, 22, 22);
    text-align-last: center;
}

#messenger-of-the-void{
    color: rgb(255, 96, 96);
    
}

#Kamflame{
    color: rgb(96, 96, 255);
    
}

#mangrove-man{
    color: rgb(231, 165, 79);
    
}

#intro{
    color: aliceblue;
}

#lore{
    color: aliceblue;
}

#page2-link{
    color: aqua;
}

#server-owner{
    color: #e91e63;

}

#staff{
    color: #f1c40f;

}

#donator{
    color: #e67e22;

}

#member{
    color: #3498db;

}

#work-in-progress{
    color: blueviolet;

}