/* on every page */
body{
    background-color: #000000;
    color: #ffffff; 
}

#nav_bar{
    list-style: none;
    text-align: center;
}

#nav_bar button{
    background-color: #5100ff;
    height: 45px;
    border: none;
    padding: 9px;
    cursor: pointer;
}

#nav_bar button:active{
    background-color: #3600aa;
}

#nav_bar button:hover{
    background-color: #7637ff;
}

#body_text{
    text-align: center;
}

#socials {
    text-align: center;
}

/* calculator */
#calculator{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #202020;
    border-radius: 15px;
    max-width: 900px;
    overflow: hidden;
}

#display{
width: 100%;
padding: 20px;
font-size: 5rem;
text-align: center;
border: none;
background-color: #3f3f3f;
color: #ffffff;
}

#number_buttons{
display: grid;
grid-template-columns: repeat(4, 1fr);
gap: 10px;
padding: 10%;
}

.operator{
background-color: #ce8600;
}

.operator:hover{
background-color: #ffa600;
}

.operator:active{
background-color: #c58f2a;
}