nav{ 
  background-color: var(--navigation);
  margin-left: 25%;
  margin-right: 25%;
  width: fit-content;
  max-width: auto;
  height: auto;
  padding: 15px;
  /* border-radius: 0px 0px 10px 10px; does this actually do anything? */
  position: fixed;

  & > a{
    margin-top: 10px;
    display: inline-flex;
    align-items: center;
    padding-right: 12px;
    gap: 4px;
  }

  & > a:hover{
    transform: scale(1.2);
    transition: transform 0.1s ease;
  }

  & > a{
    transform: scale(1);
    transition: transform 0.1s ease;
  }

  & > a:link{
    text-decoration: none;
  }

  & > a > img{
    height: 50px;
    width: 50px;
  }
}