/* On every page */
body{
    background-color: #121212;
    color: #dfdfdf; 
    text-align: center;
}


/* Sacred */
.sacredUserInterface{
    width: 1885px;
    height: 710px;
    background-color: #292929;
    border: none;
    padding: 10px;
    justify-content: center;
    align-items: center;
    margin: 0;
}

.sacredUserInterfaceButtons{
    width: 70px;
    margin: 5px auto;
    padding: 8px 10px;
    text-align: center;
    background-color: #329bbb;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
}

.sacredUserInterfaceButtons:hover{
    background-color: #2d85a0;
}

.sacredUserInterfaceButtons:active{
    background-color: #216b81;
}

.SacredNavigationBar{
    background-color: #1f1f1f;
    display: flex;
    flex-direction: column;
    bottom: 0; 
    height: 100%;
    width: 100px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #202020;
    overflow-x: hidden;
    padding-top: 20px;
}
.GuildButton{
    width: 60px;
    height: 60px;
    margin: 5px auto;
    padding: 8px 10px;
    text-align: center;
    border: none;
    cursor: pointer;
    text-decoration: none;
    background-color: #3f51ee;
    color: #121212;
}

.UserSettingsButton {
    width: 70px;
    padding: 10px;
    text-align: center;
    background-color: #329bbb;
    color: white;
    border: none;
    cursor: pointer;
    text-decoration: none;
    position: fixed;
    bottom: 25px;
    right: 85%;
}

.UserSettingsButton:hover{
    background-color: #1b4957;
}

.UserSettingsButton:active{
    background-color: #216b81;
}

.ProfileandStatusesButton {
    width: 70px; /* Adjust width as needed */
    padding: 10px;
    text-align: center;
    background-color: #329bbb;
    color: white;
    border: none;
    cursor: pointer;
    text-decoration: none;
    position: fixed;
    bottom: 25px;
    right: calc(85% + 80px); /* Adjust as needed */
}

.ProfileandStatusesButton:hover{
    background-color: #1b4957;
}

.ProfileandStatusesButton:active{
    background-color: #216b81;
}

.UserandChannelSettingsToggle{
    width: 70px;
    margin: 5px auto;
    padding: 8px 10px;
    text-align: center;
    background-color: #329bbb;
    color: white;
    border: none;
    cursor: pointer;
    text-decoration: none;
}

.sacredUserInterfaceText{
    color: #dddddd;
}