
/* The "main" content */
.main {
    margin-left: 200px; /* Same as the width of the sidenav */
    padding: 0px 10px;
}

/* On every page */
body{
    background-color: #121212;
    color: #dfdfdf; 
    text-align: center;
}

/* The side navigation menu */
.navigation-bar {
    overflow-x: hidden;
    display: flex;
    flex-direction: row;
    background-color: #1f1f1f;
    height: 52px;
    overflow: auto;
    border-radius: 5px;
}

.navigation-bar button{
    background-color:  #ffa0f9;
    height: 50px;
    width: 100px;
    border: none;
    padding: 5px;
    margin-right: 2px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color .5s ease;
}

.navigation-bar button:hover{
    background-color: #ce81c9;
}

.navigation-bar button:active{
    background-color: #b471b0;
}

.navigation-bar-dropdown{
    float: left;
    overflow: hidden;
}

#cobalt button:hover{
    background-color: #0047AB;
}

#cobalt button:active{
    background-color: #003a8b;
}

#project-magenta button:hover{
    background-color: #FF00FF;
}

#project-magenta button:active{
    background-color: #d100d1;
}

#rgb button:hover{
    background: linear-gradient(90deg, #ff0000, #008000, #0000ff );
}

#rgb button:active{
    background: linear-gradient(90deg, #d80000, #005800, #0000c2 );
}

/* The calculator */
#calculator{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #202020;
    border-radius: 100px;
    margin-left: auto;
    margin-right: auto;
    max-width: 900px;
    max-height: 800px;
    overflow: hidden;
}

#calculator-display{
    width: 100%;
    padding: 30px;
    font-size: 5rem;
    text-align: left;
    border: none;
    background-color: #3f3f3f;
    color: #ffffff;
}

#calculator-number-buttons{
    display: grid;
    grid-template-columns: repeat(6, 3fr);
    gap: 10px;
    padding: 10%;
}

.calculator-operator-button{
    background-color: #48a7ff;
    border: none;
    border-radius: 15px;
    height: 100px;
    width: 100px;
    font-size: xx-large;
    font-display: bold;
}

.calculator-operator-button:hover{
    background-color: #4196e6;
}

.calculator-operator-button:active{
    background-color: #3a83c7;
}

.calculator-number-button{
    background-color: #ffa0f9;
    border: none;
    border-radius: 15px;
    font-size: xx-large;
    font-display: bold;
}

.calculator-number-button:hover{
    background-color: #e48dde;
}

.calculator-number-button:active{
    background-color: #c473be;
}

.calculator-special-button{
    background-color: #e9e9e9;
    border: none;
    border-radius: 15px;
    font-size: xx-large;
    font-display: bold;
}

.calculator-special-button:hover{
    background-color: #d4d4d4;
}

.calculator-special-button:active{
    background-color: #acacac;
}

/* Cypher */
.cypher{
    text-align: center;
}

/* Red, Green, Blue cypher */
.color-box {
    width: 50px;
    height: 50px;
    margin: 5px;
}

#output {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
}

/* Neodroid*/
div.neodroid-terms-of-service{
    text-align: center;
}

.neodroid-terms-of-service-list{
    display: inline-block;
    text-align: left;
}

div.neodroid-privacy-policy{
    text-align: center;
}

.neodroid-privacy-policy-list{
    display: inline-block;
    text-align: left;
}

div.neodroid-commands{
    text-align: center;
}

.neodroid-commands-list{
    display: inline-block;
    text-align: left;
}

/* Gemini lore */
#gemini-minecraft-lore-messenger-of-the-void{
    color: #ff6060;
}

#gemini-minecraft-lore-Kamflame{
    color: #6060ff;
}

#gemini-minecraft-lore-mangrove-man{
    color: #e7a54f;
}

#gemini-minecraft-lore-intro{
    color: #f0f8ff;
}

#gemini-minecraft-lore-server-owner{
    color: #e91e63;
}

#gemini-minecraft-lore-staff{
    color: #f1c40f;
}

#gemini-minecraft-lore-donator{
    color: #e67e22;
}

#gemini-minecraft-lore-member{
    color: #3498db;
}

.geminiNavigationBar {
    overflow-x: hidden;
    display: flex;
    flex-direction: row;
    background-color: #1f1f1f;
    height: 50px;
}


#gemini-lore-link{
    background-color: #9266cc;
    height: 45px;
    border: none;
    padding: 9px;
    cursor: pointer;
    border-radius: 5px;
}

#gemini-lore-link:hover{
    background-color: #845cb9;
}

#gemini-lore-link:active{
    background-color: #7a55aa;
}

#StopwatchTitle{
    font-size: 4rem;
}

/* Stopwatch */
#StopwatchContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 10px solid;
    padding: 20px;
    border-radius: 50px;
    background-color: rgb(70, 70, 70)
}

#StopwatchDisplay{
    font-size: 5rem;
    font-family: monospace;
    color: #242424;
    text-shadow: 2px 2px 2px #000000;
    margin-bottom: 20px;
}

#StopwatchControls button{
    font-size: 1.5rem;
    padding: 10px 20px;
    margin: 5px;
    min-width: 125px;
    cursor: pointer;
    transition: background-color 0.5s ease;
}

#StopwatchStart{
    background-color: #4ab450;
    border: none;
    border-radius: 30px;
}

#StopwatchStart:hover{
    background-color: #3d8f41;
}

#StopwatchStop{
    background-color: #be3636;
    border: none;
    border-radius: 30px;
}

#StopwatchStop:hover{
    background-color: #a03131;
}

#StopwatchReset{
    background-color: #4e6694;
    border: none;
    border-radius: 30px;
}

#StopwatchReset:hover{
    background-color: #405477;
}

/* Campaign stuffs (in discord) */
.campaign-statment{
    text-align: left;
    width: 50%;
    float:left;
}

.campaign-promises{
    text-align: left;
    width: 50%;
    float:right;
}