:root{
color-scheme: light dark; /* enables both light and dark mode */
/* standardized theme colours*/
--dark-bg:#121212;
--dark-txt:#e9e9e9;
--dark-transparent: #202020e6;

--transparent:#00000000;

--light-bg:#e9e9e9;
--light-txt:#121212;
--light-transparent:#dddddde6;

/* standardized colours*/
--white:#ffffff;
--white-hover:#cccccc;
--white-active:#999999;
--pink:#ff87fb;
--pink-hover:#cc6cc9;
--pink-active:#995197;
--magenta:#ff00ff;
--magenta-hover:#cc00cc;
--magenta-active:#990099;
--red:#e33b4c;
--red-hover:#b62f3d;
--red-active:#88232e;
--orange:#ffa940;
--orange-hover:#cc8733;
--orange-active:#996526;
--yellow:#ffd969;
--yellow-hover:#ccae54;
--yellow-active:#99823f;
--lime:#67ff5c;
--lime-hover:#52cc4a;
--lime-active:#3e9937;
--green:#0cb300;
--green-hover:#0a8f00;
--green-active:#076b00;
--light-blue:#5bcffa;
--light-blue-hover:#49a6c8;
--light-blue-active:#377c96;
--blue:#3b5ae3;
--blue-hover:#2f48b6;
--blue-active:#233688;
--purple:#7b3be3;
--purple-hover:#622fb6;
--purple-active:#4a2388;
--grey:#888888;
--grey-hover:#6d6d6d;
--grey-active:#525252;
--dark-grey:#4d4d4d;
--dark-grey-hover:#3e3e3e;
--dark-grey-active:#2e2e2e;
--black:#141414;
}

body{
  background-color: light-dark(var(--light-bg), var(--dark-bg));
  color: light-dark(var(--light-txt), var(--dark-txt));
  font-family: Arial, Helvetica, sans-serif;
  padding: 0px 10px;
}

/* The navigation menu */
.enclave{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  position: sticky;
  top: 0;
  background-color: light-dark(var(--light-transparent), var(--dark-transparent));
  height: auto;
  width: auto;
  border-radius: 10px;
  padding: 2px;
}

.enclave button{
  background-color: light-dark(var(--light-transparent), var(--dark-transparent));
  border: none;
  padding: 5px;
  margin-right: 2px;
  cursor: pointer;
  border-radius: 10px;
}

.enclave button:hover{
  background-color: var(--dark-grey);
  transition: 0.5s ease;
}

.enclave button:active{background-color: var(--dark-grey-active);}

.sidenav{
  height: 90%;
  width: 150px;
  position: fixed;
  z-index: 1;
  left: 0;
  background-color: var(--transparent);
  overflow-x: hidden;
  padding-top: 20px;
  margin-left: 20px;
}
.sidenav a{
  padding: 6px 6px 6px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
}
.sidenav a :hover{
  color: #f1f1f1;
}

.flexy-container{
  display: flex;
  flex-wrap: wrap;
  text-align: left;
}

.big-flexy-item{
  background-color: light-dark(var(--light-transparent), var(--dark-transparent));
  font-size: medium;
  padding: 10px;
  flex: 25%;
  padding: 10px;
  margin: 0.5%;
  border-radius: 10px;
}

.big-flexy-item h1{font-family: "Times New Roman", Times, serif;}

.small-flexy-item{
  background-color: light-dark(var(--light-transparent), var(--dark-transparent));
  font-size: medium;
  padding: 10px;
  flex: 25%;
  padding: 10px;
  margin: 0.5%;
  border-radius: 10px;
  border: none;
  max-width: 150px;
}



@media screen and (max-width: 360px){
  .enclave{max-width: 100%;}
  .flexy-item{flex: 100%;}
  .big-flexy-item{flex: 100%;}
  .cipher-flexy-item{flex: 100%;}
  .sidenav{width: 150px;}
}

#fabric-mod-stuffs{
  text-align: left;
}

#fabric-mod-stuffs img{
  margin-left: 85%;
  border: none;
}

/* Stopwatch */
#StopwatchTitle{
  font-size: 4rem;
}

#StopwatchContainer{
  background-color: light-dark(var(--light-transparent), var(--dark-transparent));
  margin: auto;
  width: 55%;
  max-width: 40vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  border-radius: 50px;
}

#StopwatchDisplay{
  color: light-dark(var(--light-txt), var(--dark-txt));
  font-size: 4vw;
  font-family: monospace;
  margin-bottom: 20px;
}

#StopwatchStart{
  background-color: var(--light-blue);
  color: var(--light-txt);
  font-size: 1.5rem;
  margin: 5px;
  min-width: 125px;
  cursor: pointer;
  border: none;
  border-radius: 30px;
  padding: 10px 20px;
}
#StopwatchStart:hover{
  background-color: var(--light-blue-hover);
}
#StopwatchStart:active{
  background-color: var(--light-blue-active);
}

#StopwatchStop{
  background-color: var(--pink);
  color: var(--light-txt);
  font-size: 1.5rem;
  margin: 5px;
  min-width: 125px;
  cursor: pointer;
  border: none;
  border-radius: 30px;
  padding: 10px 20px;
}
#StopwatchStop:hover{
  background-color: var(--pink-hover);
}

#StopwatchStop:active{
  background-color: var(--pink-active);
}

#StopwatchReset{
  background-color: var(--white);
  color: var(--light-txt);
  font-size: 1.5rem;
  margin: 5px;
  min-width: 125px;
  cursor: pointer;
  border: none;
  border-radius: 30px;
  padding: 10px 20px;
}
#StopwatchReset:hover{
  background-color: var(--white-hover);
}
#StopwatchReset:active{
  background-color: var(white-active);
}

/* Neodroid*/
.neodroid-list{
  display: inline-block;
  text-align: left;
}

/* The calculator */

.calculator-grid{
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(4, auto);
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  justify-content: center;
  max-width: 600px;
  margin: auto;
}

.multi-calculator-display{
  background-color: var(--dark-grey);
  color: var(--white);
  width: 550px;
  height: 50px;
  border-radius: 5px;
  border: none;
  margin-top: 50px;
  margin-bottom: 10px;
  grid-column: span 7;
  font-size: 2rem;
  text-align: left;
}

.multi-calculator-buttons{
  background-color: var(--dark-grey);
  width: 85px;
  height: 36px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.multi-calculator-buttons:hover{
  background-color: var(--dark-grey-hover);
}

.multi-calculator-buttons:active{
  background-color: var(--dark-grey-active);
}

.multi-calculator-number-buttons{
  background-color: var(--grey);
  width: 85px;
  height: 36px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.multi-calculator-number-buttons:hover{
  background-color: var(--grey-hover);
}

.multi-calculator-number-buttons:active{
  background-color: var(--grey-active);
}

.multi-calculator-operator-buttons{
  background-color: var(--light-blue);
  width: 85px;
  height: 36px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.multi-calculator-operator-buttons:hover{
  background-color: var(--light-blue-hover);
}

.multi-calculator-operator-buttons:active{
  background-color: var(--light-blue-active);
}

.multi-calculator-delete-buttons{
  background-color: var(--red);
  width: 85px;
  height: 36px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.multi-calculator-delete-buttons:hover{
  background-color: var(--red-hover);
}

.multi-calculator-delete-buttons:active{
  background-color: var(--red-active);
}

/* Cypher */
.cipher-flexy-item{
  text-align: center;
  flex: 15%;
  padding: 10px;
  margin: 0.5%;
}

.cipher-flex-text-item{
  text-align: center;
  flex: 80%;
  padding: 10px;
  margin: 0.5%;
}

.cypher-textarea{
  width: 100%;
  height: 200px;
  margin-bottom: 10px;
  padding: 10px;
  border: none;
  border-radius: 10px;
  color: var(--white);
  background-color: light-dark(var(--light-transparent), var(--dark-transparent));
  resize: none;
}

.cypher-buttons{
  padding: 2%;
}

.cipher-radio{
  font-size: 1rem;
  cursor: pointer;
}

#cipherDropdown{
  margin-top: 10px;
  width: 150px;
  height: auto;
}

#cypher-copy-button{
  background-color: var(--light-blue);
  color: var(--light-txt);
  border: none;
  border-radius: 30px;
  border: none;
  height: 80px;
  width: 150px;
  font-size: large;
  cursor: pointer;
  margin-top: 10px;
}

#cypher-copy-button:hover{
  background-color: var(--light-blue-hover);
}

#cypher-copy-button:active{
  background-color: var(--light-blue-active);
}

/* The Yapcast*/

.yapcast-pfp img{
  height: 100px;
  width: 100px;
}

.top-left{
  display: inline-block;
  clip-path: circle(100% at 100% 100%);
}

.top-right{
  display: inline-block;
  clip-path: circle(100% at 0% 100%);
}

.bottom-left{
  display: inline-block;
  clip-path: circle(100% at 100% 0%);
}

.bottom-right{
  display: inline-block;
  clip-path: circle(100% at 0% 0%);
}
.yapcast-banner img{
  background-color: var(--dark-transparent);
  position: relative;
  left: 20%;
  top: -175px;
  border-radius: 50%;
  padding: 15px;
  height: 100px;
  width: 100px;
}