
/* The "main" content */
.main {
    margin-left: 200px;
    padding: 0px 10px;
}

/* On every page */
body{
    color: #dfdfdf;
    text-align: center;
    background-image: url('starred_backgroundV2.png');
}

.openSettingsButton{
    float: left;

    background: transparent;
    border: none;
    border-radius: 5px;
}

.openSettingsButton:hover{
    background: #1a1a1a;
}

.openSettingsButton:active{
    background: #141414;
}

.settings-tab-content{
    animation: fadeEffect 1s; /* Fading effect takes 1 second */
}

.openSettingsButton {
    background: none;
    border: none;
    cursor: pointer;
}

.settings-container {
    position: fixed;
    bottom: 50px;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    height: 90%;
    padding: 20px;
    border: none;
    background-color: #1f1f1f;
    border-radius: 5px;
}

.close-button {
    float: right;
    background-color: #d4352a;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
}

.close-button:hover {
    background-color: #d32f2f;
}

.tabs {
    display: flex;
    border-bottom: 1px solid #ccc;
    margin-bottom: 10px;
    clear: both;
}

.tab-button {
    background-color: #f1f1f1;
    padding: 1%;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    margin-right: .2%;
    transition: background-color 0.5s ease;
    border-radius: 5px;
}

.tab-button:hover {
    background-color: #ddd;
}

.tab-button.active {
    background-color: #ccc;
}

.tab-content {
    display: none;
    padding: 16px;
}

.tab-content.active {
    display: block;
}


/* The side navigation menu */
.navigation-bar{
    display: flex;
    flex-direction: row;
    background-color: #1f1f1f;
    justify-content: center;
    height: 52px;
    border-radius: 5px;
    margin: auto;
    padding: 2px;
}

.navigation-bar button{
    background-color: #ffa0f9;
    height: 50px;
    width: 100px;
    border: none;
    padding: 5px;
    margin-right: 2px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.5s ease;
}

.navigation-bar button:hover{
    background-color: #ff80e6;
}

.dropdown{
    float: left;
    overflow: hidden;
}

.dropdown-content{
    display: none;
    position: absolute;
    z-index: 1;
}

.dropdown-content a{
    float: none;
    padding: 1px;
    text-decoration: none;
    display: block;
}

.dropdown:hover .dropdown-content{
    display: block;
}

.navigation-bar button:hover{
    background-color: #ce81c9;
}

.navigation-bar button:active{
    background-color: #b471b0;
}

.navigation-bar-dropdown{
    float: left;
    overflow: hidden;
}

#cobalt button:hover{
    background-color: #0047AB;
}

#cobalt button:active{
    background-color: #003a8b;
}

#project-magenta button:hover{
    background-color: #FF00FF;
}

#project-magenta button:active{
    background-color: #d100d1;
}

#rgb button:hover{
    background: linear-gradient(90deg, #ff0000, #008000, #0000ff );
}

#rgb button:active{
    background: linear-gradient(90deg, #d80000, #005800, #0000c2 );
}

#footer{
    background-color: #1f1f1f;
    text-align: center;
    position: fixed;
    width: 100%;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 5px;
}

/* The calculator */
#calculator{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #202020;
    margin-left: auto;
    margin-right: auto;
    max-width: 50%;
    overflow: hidden;
}

#calculator-display{
    width: 100%;
    padding: 20px;
    font-size: 5rem;
    text-align: left;
    border: none;
    background-color: #3f3f3f;
    color: #ffffff;
}

#calculator-number-buttons{
    display: grid;
    grid-template-columns: repeat(6, 4fr);
    gap: 8px;
    padding: 8%;
}

.calculator-operator-button{
    background-color: #48a7ff;
    height: 100px;
    width: 100px;
    border: none;
    font-size: xx-large;
    font-display: bold;
}

.calculator-operator-button:hover{
    background-color: #4196e6;
}

.calculator-operator-button:active{
    background-color: #3a83c7;
}

.calculator-number-button{
    background-color: #ffa0f9;
    height: 100px;
    width: 100px;
    border: none;
    font-size: xx-large;
    font-display: bold;
}

.calculator-number-button:hover{
    background-color: #e48dde;
}

.calculator-number-button:active{
    background-color: #c473be;
}

.calculator-special-button{
    background-color: #e9e9e9;
    height: 100px;
    width: 100px;
    border: none;
    font-size: xx-large;
    font-display: bold;
}

.calculator-special-button:hover{
    background-color: #d4d4d4;
}

.calculator-special-button:active{
    background-color: #acacac;
}

/* Cypher */
.cypher{
    text-align: center;
}

/* multi-translator */
.cypher-textarea {
    width: 60%;
    height: 100px;
    margin-bottom: 10px;
    padding: 10px;
    border: none;
    border-radius: 10px;
    color: #dfdfdf;
    background-color: #1f1f1f;
}

.cypher-buttons{
    padding: 2%;
}

.cypher-encoder-radio{
    font-size: 1rem;
    cursor: pointer;
    width: 20px;
    height: 20px;
    border: 2px solid #48a7ff;
    border-radius: 50%;
    position: relative;
    margin-right: 10px;
    transition: background-color 0.2s, border-color 0.2s;
}

.cypher-encoder-radio input:checked{
    background: #3a83c7;
}

.cypher-decoder-radio{
    background: #e9e9e9;
    border: none;
    border-radius: 30px;
    border: none;
    height: 80px;
    width: 100px;
    font-size: 1rem;
    cursor: pointer;
}

.cypher-decoder-radio:checked{
    background: #acacac;
}

#cypher-copy-button{
    background-color: #ffa0f9;
    border: none;
    border-radius: 30px;
    border: none;
    height: 80px;
    width: 150px;
    font-size: 1rem;
    cursor: pointer;
}

#cypher-copy-button:hover{
    background-color: #e48dde;
}

#cypher-copy-button:active{
    background-color: #c473be;
}

/* Neodroid*/
div.neodroid-terms-of-service{
    text-align: center;
}

.neodroid-terms-of-service-list{
    display: inline-block;
    text-align: left;
}

div.neodroid-privacy-policy{
    text-align: center;
}

.neodroid-privacy-policy-list{
    display: inline-block;
    text-align: left;
}

div.neodroid-commands{
    text-align: center;
}

.neodroid-commands-list{
    display: inline-block;
    text-align: left;
}

/* Gemini lore */
.gemini-navigation-bar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 52px;
    margin: auto;
}

.gemini-tabs {
    background-color: #9266cc;
    height: 50px;
    width: 100px;
    border: none;
    padding: 5px;
    margin-right: 2px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.5s ease;
}

.gemini-tabs:hover {
    background-color: #845cb9;
}

.gemini-tabs:active {
    background-color: #7a55aa;
}


.gemini-tab-content {
    display: none;
    padding: 6px 12px;
    border-top: none;
}

#messenger-of-the-void {
    color: #ff6060;
}

#Kamflame {
    color: #6060ff;
}

#mangrove-man {
    color: #e7a54f;
}

#gemini-intro {
    color: #f0f8ff;
}

#gemini-server-owner {
    color: #e91e63;
}

#gemini-staff {
    color: #f1c40f;
}

#gemini-donator {
    color: #e67e22;
}

#gemini-member {
    color: #3498db;
}


/* Stopwatch */
#StopwatchTitle{
    font-size: 4rem;
}

#StopwatchContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 10px solid;
    padding: 20px;
    border-radius: 50px;
    background-color: #242424;
}

#StopwatchDisplay{
    font-size: 5rem;
    font-family: monospace;
    color: #000000;
    margin-bottom: 20px;
}

#StopwatchControls button{
    font-size: 1.5rem;
    padding: 10px 20px;
    margin: 5px;
    min-width: 125px;
    cursor: pointer;
    transition: background-color 0.5s ease;
}

#StopwatchStart{
    background-color: #48a7ff;
    border: none;
    border-radius: 30px;
}

#StopwatchStart:hover{
    background-color: #4196e6;
}

#StopwatchStop{
    background-color: #ffa0f9;
    border: none;
    border-radius: 30px;
}

#StopwatchStop:hover{
    background-color: #e48dde;
}

#StopwatchReset{
    background-color: #e9e9e9;
    border: none;
    border-radius: 30px;
}

#StopwatchReset:hover{
    background-color: #d4d4d4;
}

/* Campaign stuffs (in discord) */
.campaign-statment{
    text-align: left;
    width: 50%;
    float:left;
}

.campaign-promises{
    text-align: left;
    width: 50%;
    float:right;
}

/* Thekichensink wiki */
.thekitchensink-navigation-bar{
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 52px;
    border-radius: 5px;
    margin: auto;
    padding: 2px;
}

.thekitchensink-tabs{
    background-color: #fcc45c;
    height: 50px;
    width: 100px;
    border: none;
    padding: 5px;
    margin-right: 2px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.5s ease;
}

/* snek */
#snake-game-container{
    padding: 100px;
}

#snake-game-board{
    border:none;
    border-radius: 3%;
}

#snake-game-score{
    font-size: 100px;
    position: absolute;
    right: 200px;
    top: 100px;
}

#snake-reset-button{
    position: absolute;
    right: 120px;
    top: 700px;
    font-size: 25px;
    width: 200px;
    height: 50px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    background-color: #e9e9e9;
}

/* rock, paper, scissors */
#rockPaperScissorsgame{
    border: none;
    border-radius: 25px;
    padding: 10px;
    background-color: #1f1f1f;
}

#playerText{
    color: #48a7ff;
}

#computerText{
    color: #48ff60;
}

.choiceButton{
    line-height: 30px;
    width: 170px;
    border: none;
    border-radius: 5px;
    font-size: xx-large;
    cursor: pointer;
}

#ROCK{
    background-color: #48a7ff;
}

#PAPER{
    background-color: #ffa0f9;
}

#SCISSORS{
    background-color: #e9e9e9;
}

.new-badge{
    background-color: red;
    color: white;
    padding: 4px 8px;
    text-align: center;
    border-radius: 5px;
}
