:root{ /* i feel so stupid, i just learned the existance of css vars */

/* COLOURS */
/* Transparent's*/
--transparent:rgba(0,0,0,0);

/* Magenta's*/
--magenta-0:#FF00FF;
--magenta-1:#d100d1;
--magenta-2:#B744B8;

/* Pink's*/
--pink-0:#ff80e6;
--pink-1:#ce81c9;
--pink-3:#b471b0;
--pink-4:#ffa0f9;
--pink-5:#e48dde;
--pink-6:#c473be;

/* Red's */
--red-0:#eb4e3e;
--red-1:#ce4637;
--red-2:#b13f32;

/* Yellow's */
--yellow-0:#F2BB05;

/*Green's*/
--green-0:#48ff60;
--green-1:#5DFDCB;
--green-2:#384D48;

/* Blue's */
--blue-0: #48a7ff;
--blue-1: #4196e6;
--blue-2: #3a83c7;
--blue-3:#5347ff;

/* Purple's*/
--purple-0:#9266cc;
--purple-1:#7e43cc;
--purple-2:#743ebb;

/* Blacks's*/
--black-0:#1f1f1f;
--black-1:#121212;
--black-2:#242424;

/*Grey's*/
--grey-0:#acacac;
--grey-1:#4d4d4d;
--grey-2:#3f3f3f;

/* Whites's*/
--white-0:#ffffff;
--white-1:#f1f1f1;
--white-2:#e9e9e9;

/* Gemini SMP lore */
--messenger-of-the-void:#ff6060;
--kamflame:#6060ff;
--mangrove-man:#e7a54f;
--gemini-intro:#f0f8ff;
--gemini-server-owner:#e91e63;
--gemini-server-staff:#f1c40f;
--gemini-server-donator:#e67e22;
--gemini-server-member:#3498db;
}

.new-badge{
  background-color: red;
  color: var(--white-0);
  padding: 4px 8px;
  text-align: center;
  border-radius: 5px;
}

/* On every page */
body {
  color: var(--white-2);
  background-image: url('starred_backgroundV2.png');
  text-align: center;
  padding: 0px 10px;
}

/* The navigation menu */
.enclave {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  background-color:var(--black-2);
  height: auto;
  width: auto;
  border-radius: 5px;
  padding: 2px;
}

.enclave button {
  background-color: var(--transparent);
  border: none;
  padding: 5px;
  margin-right: 2px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.5s ease;
}

.enclave button:hover {
  background-color: var(--grey-1);
}

.enclave button:active {
  background-color: var(--grey-2);
}

#project-magenta button:hover {
  background-color: var(--magenta-0);
}

#project-magenta button:active {
  background-color: var(--magenta-1);
}

#gemini button:hover {
  background-color: var(--purple-0);
}

#gemini button:active {
  background-color: var(--purple-1);
}

/* settings remade */
.settings {
  text-align: left;
}

/* The calculator */

.multi-calculator-display {
  background-color: var(--grey-2);
  width: 550px;
  height: 50px;
  border-radius: 5px;
  border: none;
  font-size: 2rem;
  color: var(--white-2);
  text-align: right;
  margin-top: 50px;
}

.multi-calculator-buttons {
  background-color: var(--grey-0);
  width: 85px;
  height: 36px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.multi-calculator-buttons:hover {
  background-color: var(--grey-1);
}

.multi-calculator-buttons:active {
  background-color: var(--grey-2);
}

.multi-calculator-number-buttons {
  background-color: var(--grey-0);
  width: 85px;
  height: 36px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.multi-calculator-number-buttons:hover {
  background-color: var(--grey-1);
}

.multi-calculator-number-buttons:active {
  background-color: var(--grey-2);
}

.multi-calculator-operator-buttons {
  background-color: var(--blue-0);
  width: 85px;
  height: 36px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.multi-calculator-operator-buttons:hover {
  background-color: var(--blue-1);
}

.multi-calculator-operator-buttons:active {
  background-color: var(--blue-2);
}

.multi-calculator-delete-buttons {
  background-color: var(--red-0);
  width: 85px;
  height: 36px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.multi-calculator-delete-buttons:hover {
  background-color: var(--red-1);
}

.multi-calculator-delete-buttons:active {
  background-color: var(--red-2);
}

#formula{
  float: right;
  text-align: left;
  background-color: var(--grey-2);
  color: var(--white-1);
  padding: 10px;
  min-width: 20%;
  border-radius: 5px;
  margin-top: -215px;
}

/* Cypher */
.cypher {
  text-align: center;
}

/* multi-translator */
.cypher-textarea {
  width: 60%;
  height: 100px;
  margin-bottom: 10px;
  padding: 10px;
  border: none;
  border-radius: 10px;
  color: var(--white-2);
  background-color:var(--black-2);
}

.cypher-buttons {
  padding: 2%;
}

input[type=radio].cypher-radio {
  accent-color: var(--pink-4);
}
.cypher-radio{
  font-size: 1rem;
  cursor: pointer;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  position: relative;
  margin-right: 10px;
  transition: background-color 0.2s, border-color 0.2s;
}

#cypher-copy-button {
  background-color: #48a7ff;
  border: none;
  border-radius: 30px;
  border: none;
  height: 80px;
  width: 150px;
  font-size: 1rem;
  cursor: pointer;
}

#cypher-copy-button:hover {
  background-color: var(--pink-5);
}
#cypher-copy-button:active {
  background-color: var(--pink-6);
}

.base-options {
  display: none;
}

#binarySegmentContainer {
  display: none;
}

#caesarShiftContainer {
  display: none;
}

/* Neodroid*/
div.neodroid-terms-of-service {
  text-align: center;
}

.neodroid-terms-of-service-list {
  display: inline-block;
  text-align: left;
}

div.neodroid-privacy-policy {
  text-align: center;
}

.neodroid-privacy-policy-list {
  display: inline-block;
  text-align: left;
}

div.neodroid-commands {
  text-align: center;
}

.neodroid-commands-list {
  display: inline-block;
  text-align: left;
}

/* Gemini lore */
.gemini-navigation-bar {
  display: flex;
  flex-direction: row;
  background-color: var(--black-3);
  height: 52px;
  border-radius: 5px;
  width: 420px;
    padding: 2px;
}

.gemini-tabs {
  background-color: var(--purple-0);
  height: 50px;
  width: 100px;
  border: none;
  padding: 5px;
  margin-right: 2px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.5s ease;
}

.gemini-tabs:hover {
  background-color: var(--purple-1);
}

.gemini-tabs:active {
  background-color: var(--purple-2);
}

.gemini-tab-content {
  display: none;
  padding: 6px 12px;
  border-top: none;
}

#messenger-of-the-void {
  color: var(--messenger-of-the-void);
}

#Kamflame {
  color: var(--kamflame);
}

#mangrove-man {
  color: var(--mangrove-man);
}

#gemini-intro {
  color: var(--gemini-intro);
}

#gemini-server-owner {
  color: var(--gemini-server-owner);
}

#gemini-staff {
  color: var(--gemini-server-staff);
}

#gemini-donator {
  color: var(--gemini-server-donator);
}

#gemini-member {
  color: var(--gemini-server-member);
}

/* Stopwatch */
#StopwatchTitle {
  font-size: 4rem;
}

#StopwatchContainer {
	margin: auto;
  width: 50%;
	max-width: 40vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  border-radius: 50px;
  background-color: var(--black-2);
}

#StopwatchDisplay {
  font-size: max(4vw);
  font-family: monospace;
  color: var(--white-2);
  margin-bottom: 20px;
}

#StopwatchControls button {
  font-size: 1.5rem;
  padding: 10px 20px;
  margin: 5px;
  min-width: 125px;
  cursor: pointer;
  transition: background-color 0.5s ease;
}

#StopwatchStart {
  background-color: var(--blue-0);
  border: none;
  border-radius: 30px;
}

#StopwatchStart:hover {
  background-color: var(--blue-1);
}

#StopwatchStop {
  background-color: var(--pink-4);
  border: none;
  border-radius: 30px;
}

#StopwatchStop:hover {
  background-color: var(--pink-5);
}

#StopwatchReset {
  background-color: var(--white-2);
  border: none;
  border-radius: 30px;
}

#StopwatchReset:hover {
  background-color: var(--white-1);
}

/* snek */
#snake-game-container {
  padding: 100px;
}

#snake-game-board {
  border: none;
}

#snake-game-score {
  font-size: 150px;
  position: absolute;
  right: 200px;
  top: 100px;
}

#snake-reset-button {
  position: absolute;
  right: 120px;
  top: 700px;
  font-size: 25px;
  width: 200px;
  height: 50px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  background-color: var(--white-2);
}

/* rock, paper, scissors */
#rockPaperScissorsgame {
  margin-top: 1%;
  max-width: 40%;
  border: none;
  border-radius: 25px;
  padding: 10px;
  background-color: var(--black-2);
}

#playerText {
  color: var(--blue-0);
}

#computerText {
  color: var(--green-0);
}

.choiceButton {
  line-height: 30px;
  width: 170px;
  border: none;
  border-radius: 5px;
  font-size: xx-large;
  cursor: pointer;
}

#ROCK {
  background-color: var(--grey-1);
}

#PAPER {
  background-color: var(--white-0);
}

#SCISSORS {
  background-color: var(--grey-0);
}

.code {
  text-align: left;
  background-color: var(--grey-2);
  color: var(--white-1);
  padding: 10px;
  max-width: 50%;
  border-radius: 5px;
  margin: auto;
  overflow: auto;
  font-size: 16px;
  line-height: 1.5;
  display: block;
  white-space: pre-wrap;
}

#syntax { /* include & typedef & return */
  color: var(--red-0);
}

#comment {
  color: var(--grey-3);
  background-color: #2b2b2b;
  padding: 4px;
}

#library {
  color: var(--blue-0);
}

#int {
  color: var(--green-1);
}

#float {/* floats and doubles */
  color: var(--yellow-0);
}

#str {/* strings & chars */
  color: var(--magenta-2);
}

#const {
  color: var(--pink-4);
}

#switch { /* switches/cases & if statments*/
  color:var(--purple-3)
}

#mod-stuffs {
  text-align: left;
}

#mod-stuffs img {
  margin-left: 85%;
  border: none;
}

.finnish-tables table,  th, tr, td{
  border: 1px solid rgb(255, 255, 255);
  border-collapse: collapse;
  padding: 5px;
  text-align: center;
}