:root{
/* standardized colours */
--white:#ffffff;
--pink:#ff87fb;
--red:#e33b4c;
--orange:#ffa940;
--yellow:#ffd969;
--lime:#67ff5c;
--green:#0cb300;
--light-blue:#00d9ff;
--blue:#3b5ae3;
--purple:#7b3be3;
--magenta:#ff00ff;
--grey:#888888;
--black:#141414;

/* flags */
--trans-pink:#ff87fb;
--trans-light-blue:#5bcffa;

/* branding */
}

body {
  background-color: #121212;
  color: #e9e9e9;
  font-family: Arial, Helvetica, sans-serif;
  padding: 0px 10px;
}

/* The navigation menu */
.enclave {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  background-color: #202020e6;
  height: auto;
  width: auto;
  border-radius: 10px;
  padding: 2px;
}

.enclave button {
  background-color: #00000000;
  border: none;
  padding: 5px;
  margin-right: 2px;
  cursor: pointer;
  border-radius: 10px;
}

.enclave button:hover {
  background-color: #4d4d4d;
  transition: 0.5s ease;
}

.enclave button:active {background-color: #4d4d4d;}

.sidenav {
  height: 90%;
  width: 150px;
  position: fixed;
  z-index: 1;
  left: 0;
  background-color: #00000000;
  overflow-x: hidden;
  padding-top: 20px;
  margin-left: 20px;
}
.sidenav a {
  padding: 6px 6px 6px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
}
.sidenav a :hover {
  color: #f1f1f1;
}

.flexy-container {
  display: flex;
  flex-wrap: wrap;
  font-size: 30px;
  text-align: center;
  
}

.big-flexy-item {
  background-color: #202020e6;
  font-size: medium;
  padding: 10px;
  flex: 25%;
  padding: 10px;
  margin: 0.5%;
  border-radius: 10px;
}

.big-flexy-item h1 {font-family: "Times New Roman", Times, serif;}

.small-flexy-item {
  background-color: #202020e6;
  font-size: medium;
  padding: 10px;
  flex: 25%;
  padding: 10px;
  margin: 0.5%;
  border-radius: 10px;
}

@media screen and (max-width: 360px) {
  .enclave {max-width: 295px;}
  .flexy-item {flex: 100%;}
  .sidenav {width: 150px;}
  .cypher {margin-top: 100%;}
}
#fabric-mod-stuffs {
  text-align: left;
}
#fabric-mod-stuffs img {
  margin-left: 85%;
  border: none;
}

.grid-container {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: repeat(5, 1fr);
  gap: 45px;
  padding: 10px;
}
.grid-container button {
  background-color: #00000000;
  border: none;
  cursor: pointer;
}
.grid-container button:hover {
  box-shadow: 0 0 16px #242424e6;
  transition: box-shadow 0.5s ease;
}
.grid-container a {
  text-decoration: none;
}
.grid-container img {
  align-items: center;
}

.grid-item {
  background-color: #242424;
  border-radius: 5px;
  padding: 20px;
  font-size: 30px;
  text-align: center;
  color: white;
}

/* Stopwatch */
#StopwatchTitle {
  font-size: 4rem;
}

#StopwatchContainer {
  margin: auto;
  width: 55%;
  max-width: 40vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  border-radius: 50px;
  background-color: #202020e6;
}

#StopwatchDisplay {
  font-size: 4vw;
  font-family: monospace;
  color: #e9e9e9;
  margin-bottom: 20px;
}

#StopwatchStart {
  background-color: #48a7ff;
  font-size: 1.5rem;
  margin: 5px;
  min-width: 125px;
  cursor: pointer;
  border: none;
  border-radius: 30px;
  padding: 10px 20px;
}
#StopwatchStart:hover {
  background-color: #4196e6;
}
#StopwatchStart:active {
  background-color: #3a83c7;
}

#StopwatchStop {
  background-color: #ffa0f9;
  font-size: 1.5rem;
  margin: 5px;
  min-width: 125px;
  cursor: pointer;
  border: none;
  border-radius: 30px;
  padding: 10px 20px;
}
#StopwatchStop:hover {
  background-color: #ce81c9;
}
#StopwatchStop:active {
  background-color: #b471b0;
}

#StopwatchReset {
  background-color: #ffffff;
  font-size: 1.5rem;
  margin: 5px;
  min-width: 125px;
  cursor: pointer;
  border: none;
  border-radius: 30px;
  padding: 10px 20px;
}
#StopwatchReset:hover {
  background-color: #f1f1f1;
}
#StopwatchReset:active {
  background-color: #e9e9e9;
}

/* Neodroid*/
div.neodroid-terms-of-service {
  text-align: center;
}

.neodroid-terms-of-service-list {
  display: inline-block;
  text-align: left;
}

div.neodroid-privacy-policy {
  text-align: center;
}

.neodroid-privacy-policy-list {
  display: inline-block;
  text-align: left;
}

div.neodroid-commands {
  text-align: center;
}

.neodroid-commands-list {
  display: inline-block;
  text-align: left;
}

/* Cypher */
.cypher {
  text-align: center;
}

/* multi-translator */
.cypher-textarea {
  width: 60%;
  height: 150px;
  margin-bottom: 10px;
  padding: 10px;
  border: none;
  border-radius: 10px;
  color: var(--white-2);
  background-color:var(--dark-enclave);
  resize: none;
}

.cypher-buttons {
  padding: 2%;
}

.cipher-radio{
  font-size: 1rem;
  cursor: pointer;
}

#cipherDropdown{
  margin-top: 10px;
  width: 150px;
  height: auto;
}

#cypher-copy-button {
  background-color: var(--blue-0);
  border: none;
  border-radius: 30px;
  border: none;
  height: 80px;
  width: 150px;
  font-size: 1rem;
  cursor: pointer;
  margin-top: 10px;
}

#cypher-copy-button:hover {
  background-color: var(--blue-1);
}

#cypher-copy-button:active {
  background-color: var(--blue-2);
}